#search_block_top {
  padding-top: 5px;
  padding-right: 62px;
  float: right; }
  #search_block_top #searchbox {
    float: left;
    width: 125%; }
  #search_block_top .btn.button-search {
    background: #333;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    text-align: center;
    width: 40px;
    padding: 2px 0 2px 0; }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top #search_query_top {
    display: inline;
    padding: 6px 60px 7px 13px;
    height: 28px;
    background-color: #3E3D3D;
    border: 0;
    -webkit-box-shadow:0 0 3px 1px #232222;
    box-shadow:0 0 3px 1px #232222;
    margin-right: 1px; }

@media (max-width: 768px) {
  .nav #search_block_top {
  display:none;
  }
}

.ac_results {
  background: #fff;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: #fff; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }

/*# sourceMappingURL=blocksearch.css.map */
