.header_user_info {
  float: left;
  border-left: 1px solid #515151; }
  .header_user_info a {
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 8px 9px 11px 8px;
    cursor: pointer;
    line-height: 18px; }
    @media (max-width: 479px) {
      .header_user_info a {
        font-size: 11px; } }
    .header_user_info a:hover, .header_user_info a.active {
      background: #878872; }

/*# sourceMappingURL=blockuserinfo.css.map */
